@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.qualification {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("/public/quabackground.jpg");
  background-size: cover;
  width: 60%;
  height: 55vh;
  font-family: "Montserrat", serif;
  font-weight: 400;
}
.certificate {
  width: 100%;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
}
.certificate img {
  width: 100%;
  height: 100%;
}
.certificate .image {
  width: 300px;
  height: 400px;
  transition: transform 0.3s;
  margin-top: 10px; /* Add space at the top */
  margin-left: auto; /* Align to the right */
  margin-right: 0; /* Ensure no space on the right */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}
.image:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}
@media screen and (max-width:750px) {
.splash{
  font-size: 1.4rem;
}
}

@media (max-width: 768px) {
  .qualification{
    width: 100%;
    background-size: contain;
  }
.certificate{
  flex-direction: column;
}
.certificate-title{
  margin-top: 10px;
}
.certificate-title h3 {
  font-size: 18px;
}
.certificate-title h5{
  font-size: 14px;
}
.certificate-title h6{
  font-size: 13px;
}

.certificate-title .i {
  font-size: 17px !important;
}
}

@media (max-width: 576px) {
  .splash img {
    width: 30px;
    height: 25px;
  }
}